# dependencies
node_modules
.pnp
.pnp.js

# build outputs
.next
dist
out
build

# environment & secrets
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor / IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript cache
*.tsbuildinfo

# test coverage
coverage

# misc
.turbo
